@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brand-orange: #f97316;
}

body {
  @apply bg-gray-50 text-gray-800;
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
